html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-site {
  background-color: #0dcaf0;
  color: black;
  padding: 1rem 0; 
  text-align: center;
  width: 100%;
}

.login-site {
  background-color: #f8f9fa; 
  display: flex;
  align-items: center;
  justify-content: center;
}